<div layout="column"  layout-align="center start">

	<div class="paddingBottom5">
		<a class="pageLink" href="javascript:void(0)">We are the "ABC" in MPS</a>
	</div>

	<div class="pageInfoText paddingBottom5">
	    Let us be your team. Wells Fargo Vendor Financial Services, LLC's MPS Center is staffed by highly skilled and trained associates who leverage our 15 years of experience in metered and print management services. Our 24/7 MPS support tools take time-consuming tasks off your hands so you can focus on your customers.  
	</div>

	<div class="paddingBottom5">
		<a class="pageLink" href="javascript:void(0)">Why offer WFVFS leasing?</a>
	</div>

	<div class="pageInfoText paddingBottom5">
			Wells Fargo Vendor Financial Services, LLC("WFVFS") and time saving tools prove that we want to help you serve your customers.
	</div>

	<div class="paddingBottom5">
		<a class="pageLink" href="javascript:void(0)">Online tools speed the deal</a>
	</div>

	<div class="pageInfoText">
			Have a more productive sales force with less paperwork and more selling time.
	</div>
</div>