<div layout="column" class="paddingBottom20">

	<div>
		<img src="images/abc.jpg" class="imageCss">
	</div>

	<div layout="row"  layout-align="end center">
		<div>
			<a href="javascript:void(0)" class="navlink underline">FAQ</a>
		</div>

		<div>
			<span>&nbsp;|&nbsp;</span>
		</div>

		<div>
			<a href="javascript:void(0)" class="navlink underline">Contact Us</a>
		</div>
	</div>

	<div layout="row"  layout-align="center center" class="ls_navbar">
		<div flex="35">
		   <img src="images/nav_arrow.gif">
		   <a href="javascript:void(0)" class="navlink underline navText">Products & Services</a>
		</div>

		<div flex="25">
			<img src="images/nav_arrow.gif">
			<a href="javascript:void(0)" class="navlink underline navText">Advantages</a>
		</div>

		<div flex="20">
		 	<img src="images/nav_arrow.gif">
		 	<a href="javascript:void(0)" class="navlink underline navText">Register</a>
		</div>

		<div flex="20">
			<img src="images/nav_arrow.gif">
			<a href="javascript:void(0)" class="navlink underline navText">About Us</a>
		</div>
	</div>

</div>