<div layout="column">

	<div>
		<ng-include src="'partial/views/login/login-header.html'" />
	</div>
	
	<div layout="row" flex="30" class="paddingBottom10">
	   <div flex="30" class="paddingRight20">
	   	  <ng-include src="'partial/views/login/login-left.html'" />
	   </div>
	   
	   <div flex="35">
	   	  <ng-include src="'partial/views/login/login-center.html'" />
	   </div>
	   
	   <div flex="35">
	      <ng-include src="'partial/views/login/login-right.html'" />
	   </div>
	</div>
	
	<div>
	   <ng-include src="'partial/views/login/login-footer.html'" />
	</div>

</div>
