<div layout="column" layout-align="center start" class="height20FirstAllChild font11">

	<div>
		<label for="productServicesDropDown" class="ls_small_gray_font">
              Products &amp; Services
        </label>
	</div>

	<div layout="row"  layout-align="start center">
		<div class="paddingRight5">
			<select name="productServicesDropDown" id="productServicesDropDown" class="smallDropDown dropDownWhite">
	            <option value="" selected="selected">-- Select --</option>
		        <option value="">Products &amp; Services</option>
		        <option value="">Deferred Payment</option>
		        <option value="">90 Day "Same As Cash"</option>
		    </select>
	    </div>

	    <div>
	    	<button class="formBtn" name="Go">Go</button>
	    </div>			
	</div>

	<div>
		<label for="advantageDropDown" class="ls_small_gray_font	">
            Advantages
        </label>
	</div>

	<div layout="row"  layout-align="start center">
		<div class="paddingRight5">
			<select name="advantageDropDown" id="advantageDropDown" class="smallDropDown dropDownWhite">
	            <option value="" selected="selected">-- Select --</option>
		        <option value="">Advantages</option>
		        <option value="">Why WFVFS</option>
		        <option value="">Web site features</option>
		    </select>
	    </div>

	    <div>
	    	<button class="formBtn" name="Go">Go</button>
	    </div>			
	</div>

</div>